<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>Hello <%= "#{ @user.name }" %>,</p> 
	<p><a href=<%= "#{Settings.ui_endpoint}/#users/#{@friend.id}/about" %>><%= "#{@friend.name}" %></a> has accepted your friendship request.</p>
	<p>Now you can visit <a href=<%= "#{Settings.ui_endpoint}/#users/#{@friend.id}/about" %>><%= "#{@friend.name}" %> profile</a> in AlumNet.</p>
</div>